*{
  box-sizing: border-box;
}
@font-face {
    font-family: FinalFantasy;
    src: url('fonts/final_fantasy_36_font.ttf');
}

.header {
    display: block;
    height: 115px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-image: url(Images/final_fantasy_banner.png);
    background-size: contain;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-top: 3px rgb(37, 112, 149) solid;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

div.welcome-screen {
    display: block;
    position: absolute;
    height: 300px;
    width: 800px;
    margin: auto;
    top: 144px;
    left: 0px;
    right: 0px;
    background: linear-gradient(#7B7BD6, #000042);
    border-radius: 10px;
}

div.welcome-screen2 {
    display: block;
    position: absolute;
    height: 500px;
    width: 800px;
    margin: auto;
    top: 144px;
    left: 0px;
    right: 0px;
    background: linear-gradient(#7B7BD6, #000042);
    border-radius: 10px;
}

button.welcome-text {
    color: white;
    font-family: FinalFantasy;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 800px;
    height: 300px;
    outline: none;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-right: 3px rgb(78, 152, 237) solid;
    border-left: 3px rgb(78, 152, 237) solid;
    background-color: inherit;
    border-radius: 12px;
    white-space: normal;
}

button.welcome-text2 {
    color: white;
    font-family: FinalFantasy;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 800px;
    height: 500px;
    outline: none;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-right: 3px rgb(78, 152, 237) solid;
    border-left: 3px rgb(78, 152, 237) solid;
    background-color: inherit;
    border-radius: 12px;
    white-space: normal;
}
.p1 {
    position: absolute;
    top: 44px;
    left: 0px;
    right: 0px;
}

.p2 {
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
}


/*Characters*/

.char {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    background-position-x: 12px;
    top: 72px;
}

.m-dragoon {
    background-image: url(Images/charclasses/M_dragoon.png);
}

.f-dragoon {
    background-image: url(Images/charclasses/F_dragoon.png);
}

.m-whitemage {
    background-image: url(Images/charclasses/M_whitemage.png);
}

.f-whitemage {
    background-image: url(Images/charclasses/F_whitemage.png);
}

.m-redmage {
    background-image: url(Images/charclasses/M_redmage.png);
}

.f-redmage {
    background-image: url(Images/charclasses/F_redmage.png);
}

.m-blackmage {
    background-image: url(Images/charclasses/M_blackmage.png);
}

.f-blackmage {
    background-image: url(Images/charclasses/F_blackmage.png);
}

.m-ninja {
    background-image: url(Images/charclasses/M_ninja.png);
}

.f-ninja {
    background-image: url(Images/charclasses/F_ninja.png);
}

.m-fighter {
    background-image: url(Images/charclasses/M_fighter.png);
}

.f-fighter {
    background-image: url(Images/charclasses/F_fighter.png);
}

.char:hover {
    filter: brightness(150%);
}


/*Main Quiz CSS Starts Here*/

.main-quiz {
    display: block;
    position: absolute;
    height: 360px;
    width: 1000px;
    margin: auto;
    top: 130px;
    left: 0px;
    right: 0px;
    background: linear-gradient(#7B7BD6, #000042);
    border-radius: 10px;
    border: 2px solid black;
}

.question {
    color: white;
    text-align: center;
    font-family: FinalFantasy;
    font-size: 28px;
    margin-top: 10px;
    background: #043343;
    display: inline-block;
    position: absolute;
    border: 2px white solid;
    border-radius: 10px;
    width: 470px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    line-height: 21px;
}

.answers, .answer-notify {
    color: white;
    font-size: 20px;
    font-family: FinalFantasy;
    border: 3.5px white solid;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    background-color: rgba(44, 18, 154, 20);
    height: 90px;
    width: 200px;
    padding-bottom: 24px;
    z-index: 1;
}

/* CSS3 selectors */

/* https://www.w3schools.com/cssref/sel_nth-of-type.asp
.answer:nth-of-type(0) {}
.answer:nth-of-type(1) {}
.answer:nth-of-type(2) {}
.answer:nth-of-type(3) {}
  */

.answer-A {
    top: 103px;
    left: 86px;
}

.answer-B {
    top: 103px;
    right: 86px;
}

.answer-C {
    top: 210px;
    left: 150px;
}

.answer-D {
    top: 210px;
    right: 150px;
}

.avatar {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    background-position-x: 3px;
    top: 150px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.js-current-hp {
  font-family: FinalFantasy;
  color: white;
  font-size: 25px;
  position: absolute;
  display: inline-block;
  top: 130px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 0;
}

.answer-notify {
    top: 77px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 23px;
    padding: 0;
    background-color: rgba(64, 223, 224, 0.61);
}
 span.questions-correct {
    text-decoration: underline;
    color: #3aff3a;
}

.level {
    position: absolute;
    display: inline-block;
    border: 2px white solid;
    top: 30px;
    left: 102px;
    border-radius: 10px;
    height: 50px;
    width: 98px;
    background-color: rgb(83, 92, 129);
    color: #fdff00;
    text-align: center;
    line-height: 50px;
    font-family: FinalFantasy;
    font-weight: bold;
    font-size: 28px;
    filter: brightness(100%);
}

button.answer-submit {
    outline: none;
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgba(0, 255, 92, 0.65);
    height: 100px;
    width: 125px;
    color: white;
    font-family: FinalFantasy;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 239px;
}

p {
    margin-top: -1px;
}

.question p {
    vertical-align: middle;
}

.green-selected {
    background-color: #14ea14;
}

.red-selected {
  background-color: #a42020;
}

.level-continue {
position: absolute;
display: inline-block;
border: 2px white solid;
top: 30px;
right: 95px;
border-radius: 10px;
height: 50px;
width: 141px;
background-color: rgb(83, 92, 129);
color: #fdff00;
text-align: center;
line-height: 50px;
font-family: FinalFantasy;
font-weight: bold;
font-size: 28px;
filter: brightness(100%);
}

.hidden {
  display: none;
}

.quiz-report {
    position: absolute;
    color: white;
    font-family: FinalFantasy;
    top: 150px;
    text-align: center;
    left: 0px;
    right: 0px;
}

.answers:hover, .answer-submit:hover, .avatar:hover, .char:hover,  .level-continue:hover {
    filter: brightness(150%);
}

body:hover, .welcome-text:hover, .answer-submit:hover, .welcome-text2:hover, .quiz-report.hover {
    cursor: url('Images/cursor.png') 17 4, auto;
}
