@font-face {
  font-family: FinalFantasy; src: url('fonts/final_fantasy_36_font.ttf');
}

.header {
    display: block;
    height: 75px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-image: url(Images/final_fantasy_banner.png);
    background-size: contain;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-top: 3px rgb(37, 112, 149) solid;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}


div.welcome-screen {
display: block;
position: absolute;
height: 200px;
width: 500px;
margin: auto;
top: 120px;
left: 0px;
right: 0px;
border: 3px rgb(37, 112, 149) solid;
background: linear-gradient(rgba(73,119,138,123), rgba(70,201,255,12));
border-radius:10px;
}

div.welcome-text {
  color: white;
  font-family: FinalFantasy;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  line-height: 200px;
}
