
@font-face {
    font-family: FinalFantasy;
    src: url('fonts/final_fantasy_36_font.ttf');
}

.header {
    display: block;
    height: 115px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-image: url(Images/final_fantasy_banner.png);
    background-size: contain;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-top: 3px rgb(37, 112, 149) solid;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

div.welcome-screen {
    display: block;
    position: absolute;
    height: 300px;
    width: 800px;
    margin: auto;
    top: 144px;
    left: 0px;
    right: 0px;
    background: linear-gradient(#7B7BD6, #000042);
    border-radius: 10px;
}

button.welcome-text {
    color: white;
    font-family: FinalFantasy;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 800px;
    height: 300px;
    outline: none;
    border-bottom: 3px rgb(37, 112, 149) solid;
    border-right: 3px rgb(78, 152, 237) solid;
    border-left: 3px rgb(78, 152, 237) solid;
    background-color: inherit;
    border-radius: 12px;
    white-space: normal;
}


.p1 {
  position: absolute;
  top: 44px;
  left: 0px;
  right: 0px;
}

.p2 {
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
}

/*Characters*/
.char {
  width: 75px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  background-position-x: 12px;
  top: 72px;
}

.m-dragoon{background-image: url(Images/charclasses/M_dragoon.png);}
.f-dragoon{background-image: url(Images/charclasses/F_dragoon.png);}
.m-whitemage{background-image: url(Images/charclasses/M_whitemage.png);}
.f-whitemage{background-image: url(Images/charclasses/F_whitemage.png);}
.m-redmage{background-image: url(Images/charclasses/M_redmage.png);}
.f-redmage{background-image: url(Images/charclasses/F_redmage.png);}
.m-blackmage{background-image: url(Images/charclasses/M_blackmage.png);}
.f-blackmage{background-image: url(Images/charclasses/F_blackmage.png);}
.m-ninja{background-image: url(Images/charclasses/M_ninja.png);}
.f-ninja{background-image: url(Images/charclasses/F_ninja.png);}
.m-fighter{background-image: url(Images/charclasses/M_fighter.png);}
.f-fighter{background-image: url(Images/charclasses/F_fighter.png);}


.char:hover {
  filter: brightness(150%);
}




/*Main Quiz CSS Starts Here*/
.main-quiz{
  display: block;
  position: absolute;
  height: 360px;
  width: 1000px;
  margin: auto;
  top: 130px;
  left: 0px;
  right: 0px;
  background: linear-gradient(#7B7BD6, #000042 );
  border-radius: 10px;
  border: 2px solid black;
}

.question {
    color: white;
    text-align: center;
    font-family: FinalFantasy;
    font-size: 28px;
    margin-top: 10px;
    background: #043343;
    display: inline-block;
    position: absolute;
    border: 2px white solid;
    border-radius: 10px;
    width: 388px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
  }

.answers, .answer-notify {
    color: white;
    font-size: 20px;
    font-family: FinalFantasy;
    border: 3.5px white solid;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    background-color: rgba(44, 18, 154, 20);
    height: 40px;
    width: 200px;
    padding-bottom: 24px;
}

.answer-A {
    top: 103px;
    left: 86px;
}

.answer-B {
    top: 103px;
    right: 86px;
}

.answer-C {
    top: 210px;
    left: 150px;
}

.answer-D {
    top: 210px;
    right: 150px;
}

.answer-notify {
    top: 59px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 6px;
    background-color: rgba(64, 223, 224, 0.61);

}

button.answer-submit {
  outline: none;
  border: 2px white solid;
  border-radius: 10px;
  background-color: rgba(0, 255, 92, 0.65);
  height: 100px;
  width: 125px;
  color: white;
  font-family: FinalFantasy;
  font-size: 25px;
  display: inline-block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 239px;
}

p{
  margin-top: -1px;
}

.question p {
    vertical-align: middle;
}


.answers:hover, .answer-submit:hover {
  filter: brightness(150%);
}

body:hover, .welcome-text:hover, .answer-submit:hover {
  cursor: url('Images/cursor.png'), auto;
}
